
.header {
    height: 60px;
    background-color: #0569c9;
}

.header__title {
    color: #fff;
    font-size: 2em;
    padding: 10px;
    position: absolute;
    left: 40px;
}

.header__button {
    width: 100px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 60px;
    background-image: url("../../assets/logout.png");
    background-repeat: no-repeat;
    background-position: 5px 4px;
    background-color: #0569c9;
    border: 1px solid #fff;
    border-radius: 3px;
}

.header__button:hover {
    background-color: #107ce0;
    cursor: pointer;
}

.header__button:active {
    background-color: #fff;
    background-image: url("../../assets/logout_pressed.png");
    border: 1px solid #0569c9;
}

.header__text {
    font-size: 1.6em;
    position: relative;
    left: 10px;
    color:#fff;
}

.header__button:active .header__text {
    color:#0569c9;
}