$header-color: #0569c9;
$header-height: 60px;

.header {
    height: $header-height;
    background-color: $header-color;
}

.header__title {
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    left: 40px;
    line-height: $header-height;
}

.header__button {
    width: 100px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 40px;
    background-image: url("../../assets/logout.png");
    background-repeat: no-repeat;
    background-position: 5px 4px;
    background-color: $header-color;
    border: 1px solid #fff;
    border-radius: 3px; 
}

.header__button:hover {
    background-color: #107ce0;
    cursor: pointer;
};

.header__button:active {
    background-color: #fff;
    background-image: url("../../assets/logout_pressed.png");
    border: 1px solid $header-color;
    .header__text {
        color:$header-color;
    };
}

.header__text {
    font-size: 1.6em;
    position: relative;
    left: 10px;
    color:#fff;
}