.box {
    width: 350px;
    height: 400px;
    margin: 30px auto;
    border: 2px solid #D0D1D2;
    border-radius: 3px;
}

.box__description--text {
    position: relative;
    top: 40px;
    text-align: center;
    color: #000;
}

.box__login {
    width: 350px;
    height: 400px;
}

@media only screen and (min-width: 720px) {
.box__description {
    width: 350px;
    height: 400px;
    background-color: #0569C9;
    background-image: url("./../../assets/github_logo_maior.png");
    background-position: center; 
    background-repeat: no-repeat;
    float: left;
}

.box__description--text {
    padding: 20px;
    position: relative;
    top:150px;
    color: #fff;
}
    .box {
        width: 700px;
    }
.box__login {
    float: right;
    }
}

.box__login img {
    position: relative;
    top:70px;
    left: 120px;
}

.box__login a {
    position: relative;
    top:120px;
    left: 135px;
}

.box__login__buton {
    width: 200px;
    height: 45px;
    position: relative;
    top: 110px;
    right:30px;
    background-image: url("./../../assets/github_logo_menor.png");
    background-repeat: no-repeat;
    background-position: 5px;
    background-color: #fff;
    border: 2px solid #009AFF;
    border-radius: 3px;
}

.box__login__buton:hover {
    background-color: #E9E9E9;
}

.box__login__text {
    font-size: 1.2em;
    position: relative;
    left: 20px;
    font-weight: bold;
    color:#009AFF;
}