<div class="box">
    <div class="box__description">
        <div class="box__description--text">Para visualizar a lista de repositórios é necessário que você possua uma conta no GitHub</div>
    </div>
    <div class="box__login">
        <img src="../../assets/impressao_digital.png">
        <button class="box__login__buton" type="button" (click)="requestLogin()">
            <span class=box__login__button--text>Login com GitHub</span>
        </button>
        <a href="https://github.com/join?source=header-home">Cadastre-se!</a>
    </div>
</div>